/**
 * Component: doc-blocks
 * -------------------------------------------------------------------------- */

.vp-doc .custom-block {
  border: 1.5px solid;
  position: relative;

  &.info,
  &.note,
  &.tip,
  &.important,
  &.warning,
  &.caution,
  &.danger,
  &.details {
    .custom-block-title {
      margin-left: 1.25em;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: absolute;
    margin: 0.15em 0 0 -0.15em;
  }

  &.info,
  &.note {
    --svg: url('https://api.iconify.design/ic:round-info.svg');
    border-color: var(--vp-c-text-2);
    color: var(--vp-c-text-2);

    .custom-block-title,
    &:before {
      color: var(--vp-c-text-1);
    }
  }

  &.tip {
    --svg: url('https://api.iconify.design/ic:round-info.svg');
    border-color: var(--vp-c-green-1);
    color: var(--vp-c-green-2);
    background-color: var(--vp-c-green-soft);

    .custom-block-title,
    &:before {
      color: var(--vp-c-green-1);
    }

    code {
      color: var(--vp-c-green-1);
      background-color: var(--vp-c-green-soft);
    }

    a {
      color: var(--vp-c-green-1);
    }
  }

  &.warning,
  &.caution,
  &.danger {
    --svg: url('https://api.iconify.design/ic:round-warning.svg');
    border-color: var(--vp-c-warning-1);
    color: var(--vp-c-warning-2);

    .custom-block-title,
    &:before {
      color: var(--vp-c-warning-1);
    }

    &.danger,
    &.caution {
      border-color: var(--vp-c-danger-1);
      color: var(--vp-c-danger-2);

      .custom-block-title,
      &:before {
        color: var(--vp-c-danger-1);
      }
    }
  }

  &.important {
    --svg: url('https://api.iconify.design/ic:round-info.svg');
    border-color: var(--vp-c-important-1);
    color: var(--vp-c-important-2);

    .custom-block-title,
    &:before {
      color: var(--vp-c-important-1);
    }
  }

  &.details {
    border-color: var(--vp-c-text-2);

    p {
      color: var(--vp-c-text-2);
    }

    &:before {
      --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3C/svg%3E");
    }
  }
}
