/**
 * Component: doc-blocks
 * -------------------------------------------------------------------------- */

.vp-doc .custom-block {
  border: 1px solid;
  position: relative;

  p:first-child {
    margin: 0 0 0 1.25em;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: absolute;
    margin: 0.15em 0em 0em -0.15em;
  }

  &.info,
  &.note,
  &.tip,
  &.important {
    &:before {
      --svg: url('https://api.iconify.design/ic:round-info.svg');
    }
  }

  &.warning,
  &.caution,
  &.danger {
    &:before {
      --svg: url('https://api.iconify.design/ic:round-warning.svg');
    }
  }

  &.details {
    border-left-color: var(--vp-c-text-2);
    p {
      color: var(--vp-c-text-2);
    }
    &:before {
      /* 使用透明的svg */
      --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3C/svg%3E");
    }
  }

  &.info,
  &.note {
    border-color: var(--vp-c-text-2);
    color: var(--vp-c-text-2);
    .custom-block-title,
    &:before {
      color: var(--vp-c-text-1);
    }
  }

  &.tip {
    border-color: var(--vp-c-green-1);
    color: var(--vp-c-green-2);
    background-color: var(--vp-c-green-soft);
    .custom-block-title,
    &:before {
      color: var(--vp-c-green-1);
    }
    code {
      color: var(--vp-c-green-1);
      background-color: var(--vp-c-green-soft);
    }
    a {
      color: var(--vp-c-green-1);
    }
  }

  &.warning {
    border-color: var(--vp-c-warning-1);
    color: var(--vp-c-warning-2);
    .custom-block-title,
    &:before {
      color: var(--vp-c-warning-1);
    }
  }

  &.danger,
  &.caution {
    border-color: var(--vp-c-danger-1);
    color: var(--vp-c-danger-2);
    .custom-block-title,
    &:before {
      color: var(--vp-c-danger-1);
    }
  }

  &.important {
    border-color: var(--vp-c-important-1);
    color: var(--vp-c-important-2);
    .custom-block-title,
    &:before {
      color: var(--vp-c-important-1);
    }
  }
}
