/**
 * Component: home-links
 * -------------------------------------------------------------------------- */

a.lumen {
  text-align: center;
  border-radius: 24px;
  padding: 0 24px;
  line-height: 46px;
  font-size: 16px;
  background-color: var(--vp-c-default-3);
}

a.lumen:hover {
  background-color: var(--vp-c-default-2);
}

a.lumen:active {
  background-color: var(--vp-c-default-1);
}

a.lumen.theo::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 0.5em;
  transform: translateY(7px);
  background-image: url('https://i.theojs.cn/avatar.png');
}

@keyframes ping {
  15%,
  to {
    transform: scale(1.25, 2);
    opacity: 0;
  }
}

@media (max-width: 420px) {
  a.lumen.theo {
    max-width: 320px;
    line-height: 1.5em;
    white-space: normal;
    display: block;
    padding-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
