/**
 * Component: doc
 * -------------------------------------------------------------------------- */

.vp-doc {
  a {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    &:hover {
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted;
    }
  }
}
