@import './icon.scss';
@import './button.scss';
@import './colors.scss';
@import './doc-blocks.scss';
@import './doc.scss';
@import './home-links.scss';
@import './home.scss';
@import './picture.scss';
@import './badge.scss';
