/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --c-yellow-1: rgba(255, 216, 89, 1);
  --c-yellow-2: rgba(247, 211, 54, 1);
  --c-yellow-3: rgba(222, 201, 110, 1);
  --c-yellow-soft-1: rgba(236, 183, 50, 1);
  --c-yellow-soft-2: rgba(201, 149, 19, 0.3);

  --c-teal: rgba(8, 99, 103, 1);
  --c-teal-light: rgba(51, 137, 141, 1);

  --c-white-dark: rgba(248, 248, 248, 1);
  --c-black-darker: rgba(13, 18, 27, 1);
  --c-black: rgba(17, 24, 39, 1);
  --c-black-light: rgba(22, 31, 50, 1);
  --c-black-lighter: rgba(38, 42, 68, 1);

  --c-green-1: rgba(82, 206, 99, 1);
  --c-green-2: rgba(138, 233, 156, 1);
  --c-green-3: rgba(81, 162, 86, 1);
  --c-green-soft: rgba(49, 99, 52, 1);

  /* light theme is a bit different */
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);

  --c-text-dark-1: rgba(217, 230, 235, 1);
  --c-text-dark-2: rgba(196, 221, 230, 1);
  --c-text-dark-3: rgba(171, 196, 204, 1);
  --c-text-light-1: rgba(44, 62, 80, 1);
  --c-text-light-2: rgba(71, 101, 130, 1);
  --c-text-light-3: rgba(144, 164, 183, 1);

  --vp-c-brand-dark: var(--c-green-soft);
  --vp-c-brand-darker: var(--c-green-soft);
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-brand-text: var(--c-text-light-1);
  --c-bg-accent: var(--c-white-dark);
  --code-bg-color: var(--c-white-dark);
  --code-inline-bg-color: var(--c-white-dark);
  --code-font-family: 'dm', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  --code-font-size: 16px;
}

html.dark:root {
  --vp-c-brand-1: var(--c-yellow-1);
  --vp-c-brand-2: var(--c-yellow-2);
  --vp-c-brand-3: var(--c-yellow-3);
  --vp-c-brand-soft: var(--c-yellow-soft-2);

  --vp-c-bg-alpha-with-backdrop: rgba(20, 25, 36, 0.7);
  --vp-c-bg-alpha-without-backdrop: rgba(20, 25, 36, 0.9);

  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);

  --vp-c-text-1: var(--c-text-dark-1);
  --vp-c-brand-text: var(--c-text-light-1);
  --c-text-light: var(--c-text-dark-2);
  --c-text-lighter: var(--c-text-dark-3);
  --c-divider: var(--c-divider-dark);
  --c-bg-accent: var(--c-black-light);

  --vp-c-bg: var(--c-black);
  --vp-c-bg-soft: var(--c-black-light);
  --vp-c-bg-soft-up: var(--c-black-lighter);
  --vp-c-bg-mute: var(--c-black-light);
  --vp-c-bg-soft-mute: var(--c-black-lighter);
  --vp-c-bg-alt: rgba(13, 18, 27, 1);
  --vp-c-bg-elv: var(--vp-c-bg-soft);
  --vp-c-bg-elv-mute: var(--vp-c-bg-soft-mute);
  --vp-c-mute: var(--vp-c-bg-mute);
  --vp-c-mute-dark: var(--c-black-lighter);
  --vp-c-mute-darker: var(--c-black-darker);
}

html.dark .DocSearch {
  --docsearch-hit-active-color: var(--c-text-light-1);
}
