/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(292deg, var(--c-yellow-2) 50%, var(--c-green-1));
  --vp-home-hero-image-background-image: linear-gradient(15deg, var(--c-yellow-2) 65%, var(--c-green-1) 30%);
  --vp-home-hero-image-filter: blur(40px);
}

.VPHero .VPImage.image-src {
  max-height: 192px;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
  .VPHero .VPImage.image-src {
    max-height: 256px;
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
  .VPHero .VPImage.image-src {
    max-height: 320px;
  }
}
html.dark:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(78deg, var(--c-yellow-2) 30%, var(--c-green-2));
}
