/**
 * Component: picture
 * -------------------------------------------------------------------------- */

:root {
  &:not(.dark) {
    .dark-only {
      display: none;
    }
    img[src$='#dark'] {
      display: none;
    }
  }

  &:is(.dark) {
    .light-only {
      display: none;
    }
    img[src$='#light'] {
      display: none;
    }
  }
}

/* image subtitle */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  figcaption {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--vp-c-text-3);
    font-size: 0.875rem;
    font-weight: 400;

    a {
      color: var(--vp-c-text-3) !important;
    }
  }
}
