@use '@fortawesome/fontawesome-free/css/all.min.css';
@use './font.scss';

:root {
  --vp-c-brand: var(--vp-c-brand-1) !important;
  --li-dot-color: var(--vp-c-brand);
  --date-color: var(--vp-c-text-3);
}

.dark {
  --vp-c-brand: var(--vp-c-brand-1);
}

.vp-doc {
  a {
    font-weight: 900 !important;
    text-decoration: none !important;
  }

  a[rel~='noreferrer']:link,
  a[rel~='noreferrer']:visited {
    color: var(--vp-c-brand-1);
    font-weight: 500 !important;
    font-size: 1rem;
    text-decoration: underline solid !important;
  }

  h1,
  h2,
  h3 {
    border-top: none !important;
    padding: 0 0 14px;
    border: none;
    border-bottom: 1px solid var(--vp-c-divider);
    .header-anchor {
      top: auto;
    }

    a {
      &:not(.header-anchor) {
        font-weight: 600;
        color: var(--vp-c-text-1);

        &:hover {
          color: var(--vp-c-brand-2);
        }
      }
    }
  }
}

.VPNavBar,
.VPFooter {
  transition: none !important;
  border: none !important;
}

.aside {
  position: fixed !important;
  right: 24px;
}

.VPDoc {
  padding: 10px 24px 0px 24px !important;
}

.VPContent .container {
  max-width: 60rem !important;
  display: block !important;
  position: relative;
}

/* content maxWidth */
.VPDoc.has-aside .content-container {
  max-width: 60rem !important;
}

.posts {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  text-decoration: none;
  color: inherit;

  &:hover .post-container {
    color: var(--vp-c-brand);
  }
}

.post-container {
  display: flex;
  align-items: center;
  color: var(--vp-c-text-2);
  font-size: 0.9rem;
  font-weight: 400;
}

.post-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--li-dot-color);
  margin-right: 8px;
}

.post-title {
  display: flex;
  align-items: center;

  .top-label {
    margin-right: 6px;
    color: rgba(255, 87, 51, 1);
  }
}

.date {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--date-color);
}
.post-info,
.post-author {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-size: 0.75rem;
  color: var(--vp-c-brand-1);

  span {
    display: inline-block;
    margin-left: 0.25rem;
    transition: 0.4s;
    a {
      font-size: 0.8rem;
      font-weight: 500 !important;
      color: var(--vp-c-brand-1) !important;
      &:hover {
        color: var(--vp-c-brand-3) !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .VPNavBar {
    &:not(.has-sidebar) {
      &:not(.top) {
        box-shadow: 0 0.3125rem 0.3125rem -0.3125rem rgba(0, 0, 0, 0.117);
      }

      .divider {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .post-container {
    width: 20rem;
  }
}
@media (min-width: 960px) {
  .VPDoc:not(.has-sidebar) .content {
    max-width: inherit !important;
  }
  .VPDocAsideOutline .content {
    padding-left: 14px !important;
  }
  .content {
    padding: 0 !important;
  }
  .VPNavBar {
    &:not(.has-sidebar) {
      &:not(.top) {
        box-shadow: 0 0.3125rem 0.3125rem -0.3125rem rgba(0, 0, 0, 0.117);
      }

      .divider {
        display: none;
      }
    }
  }
}

@media (min-width: 1280px) {
  .VPDoc .aside {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .VPDoc .aside {
    display: block !important;
  }
}
