:root {
  --vp-c-brand: var(--vp-c-brand-1) !important;
  --vp-c-brand-light: var(--vp-c-brand);
  --vp-c-brand-lighter: var(--vp-c-brand);
  --vp-c-brand-dark: var(--vp-c-brand);
  --vp-c-brand-darker: var(--vp-c-brand);

  --li-dot-color: var(--vp-c-brand);
  --date-color: var(--vp-c-text-3);
}
.dark {
  --vp-c-brand: var(--vp-c-brand-1);
}

.vp-doc a {
  color: var(--vp-c-brand-1);
  font-weight: 500;
  text-decoration: none !important;
}

.content a[rel~='noreferrer']:link,
a[rel~='noreferrer']:visited {
  color: var(--vp-c-brand);
  border-bottom: 1px solid var(--vp-c-brand);
}

/* for aside start */
.aside {
  position: fixed !important;
  right: 24px;
}
.VPDoc {
  padding-top: 10px !important;
}
.container {
  max-width: 60rem !important;
}
.VPContent .container {
  max-width: 60rem !important;
  display: block !important;
  position: relative;
}
/* content maxWidth*/
.VPDoc.has-aside .content-container {
  max-width: 60rem !important;
}

@media (min-width: 768px) {
  .VPDoc {
    padding-top: 10px !important;
  }
}
@media (min-width: 960px) {
  .VPDoc {
    padding-top: 10px !important;
  }

  .VPDoc:not(.has-sidebar) .content {
    max-width: inherit !important;
  }
  .VPDocAsideOutline .content {
    padding-left: 14px !important;
  }
  .content {
    padding: 0 !important;
  }
}
/* when witdh less 1440 hide the aside 小于1440就到下一挡*/
@media (min-width: 1280px) {
  .VPDoc .aside {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .VPDoc .aside {
    display: block !important;
  }
}

/*mobile*/
@media screen and (max-width: 768px) {
  .VPDoc {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }
  .vp-doc h1 {
    font-size: 1.25rem !important;
  }
  .posts {
    padding: 4px;
  }
  .post-dot {
    margin-right: 4px;
  }
  .post-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 16.5em;
  }
}

.posts {
  padding: 4px 0 4px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-dot {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--li-dot-color);
}

.post-container {
  color: var(--vp-c-text-2);
  font-size: 0.9rem;
  font-weight: 400;
}
.post-container:hover {
  color: var(--vp-c-brand);
}
.date {
  color: var(--date-color);
  font-family: var(--date-font-family);
}

.post-info {
  font-size: 12px;
}
.post-info span {
  display: inline-block;
  padding: 0 8px;
  background-color: var(--vp-c-bg-alt);
  margin-right: 10px;
  transition: 0.4s;
  border-radius: 2px;
  color: var(--vp-c-text-1);
}
